.container{
    max-width: 1200px;
    margin: 0 auto;
}

.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 5px;
}

.post{
    background-color: rgb(132, 137, 153);
    padding: 10px 20px;
    border-radius: 20px;
}

.animate{
    animation: show 2500ms ease-in-out forwards;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
